header{
    background: #0b0b50;
    height: 10vh;
    color: #fff;
    margin: 0 auto;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px grey;
    font-weight: 500;
    font-family: monospace;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}